.logo-box {
    outline: 4px solid transparent;
    background-color: transparent;
    animation-name: logo-box-animation;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

.logo-box-text {
    opacity: 0;
    rotate: -45deg;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-name: logo-box-text-animation;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: 'Mynerve';
}

.logo-box-caption {
    opacity: 0;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-name: logo-box-text-animation;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: 'roboto', sans-serif;
}

@keyframes logo-box-animation {
    80% {
        outline: 4px solid rgb(13 148 136);
        background-color: rgb(13 148 136);
        outline-offset: 6px;
    }
}

@keyframes logo-box-text-animation {
    75% {
        opacity: 1;
    }
}